@import "tailwindcss";

:root {
  --background: #f8fafc; /* Light White/Slate 50 */
  --foreground: #0f172a; /* Slate 900 Dark */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Eliminamos estilos de scrollbar custom para sobriedad */